@import 'src/styles/buttons';
@import 'src/styles/card';

h1{
  text-align : center;
  margin-top: 20px;
  font-weight: bold;
}

.bigButton{
  font-weight: bold;
  border-style: solid;
  border-color: black;
  margin: 15px!important;
}
