<div class="container-fluid">
  <div class="row">
    <div class="col-lg-12">
      <h1 id="title">PolyQuiz</h1>
    </div>
  </div>
  <br>
  <div class="row text-center">
    <div class="col-lg-6 text-center">
      <a href='/administration/profiles'><button class="bigButton no-margin">Gestion des profils utilisateurs </button></a>
    </div>
    <div class="col-lg-6 text-center">
      <a href='/administration/quiz-list/'><button class="bigButton no-margin">Gestion des quizs</button></a>
    </div>
  </div>

</div>
