<html>
<ng-template [ngIf]="this.router.url==='/home'||this.router.url==='/quiz-list'||this.router.url==='/administration'|| this.router.url.endsWith('/quiz-edit/',11) ||this.router.url==='/select-theme'">
<app-header [right]="this.router.url=='/quiz-list' || this.router.url.endsWith('/quiz-edit/',11)"></app-header>
</ng-template>
<body>
<div class="container-fluid">
  <div class="row justify-content-center" #toRead>
  <div class="col-lg-12">
    <router-outlet (activate)="onActivate($event)"></router-outlet>
  </div>
</div>
</div>

</body>
</html>
