<div class="card container-fluid">
    <div class="row ">
    Theme: {{quiz.theme}}
    </div>
    <div class="row">
       Nom du quiz: {{quiz.name}}
    </div>
    <div class="row">
      Nombre de questions: {{quiz.questions.length}}
    </div>
    <div class="row" *ngIf="quiz.creationDate!=null">
        Date de création: {{quiz.creationDate | date}}
      </div>
  <div class="row">
    <ng-template [ngIf]="lecture===true">
       <nav>
        <a routerLink="/quiz-edit/{{quiz.id}}">
          <button class="button-card no-side-margin" >Modifier</button>
        </a>
      </nav>
      <router-outlet></router-outlet>
    </ng-template>
      <ng-template [ngIf]="lecture===false">
            <button class="button-card" (click)="selectQuiz()">Lancer le quiz</button>
      </ng-template>
      <ng-template [ngIf]="lecture===true">
    <button class="button-card no-side-margin" (click)="deleteQuiz()">Supprimer</button>
  </ng-template></div>

</div>
