@import "./variables";

.card {
  background: inherit;
  border-radius: 3px;
  display: inline-block;
  margin: 1rem;
  position: center;
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.08), 0 0 6px rgba(0, 0, 0, 0.05);
  border-color: inherit;
  padding: 1em 1em 1em 1em;
}

.button-card {
  background-color: inherit;
  border-color:inherit;
  color: inherit;
  font-weight: bold;
  padding: 0.5em 1em;
}

.button-card:hover {
  cursor: pointer;
}
