<div class="container-fluid">
<mat-dialog-content [ngStyle]=settings>

<h2 *ngIf="data.quest" mat-dialog-title>Question: {{data.name}}</h2>
  <h2 *ngIf="!data.quest" mat-dialog-title> {{data.name}}</h2>

</mat-dialog-content>

  <div class="col-lg-12 no-side-margin  align-content-center">
    <div class="row text-center">
      <div class="col-lg-6 ">
        <mat-dialog-actions  [ngStyle]=settings>
          <button  class="button-card mat-button " (click)="close(false)"> Continuer le quiz !</button>
        </mat-dialog-actions>
      </div>

      <div  *ngIf=" !data.quest" class="col-lg-6">
        <mat-dialog-actions  [ngStyle]=settings>
          <button class="button-card mat-button" (click)="close(true)"  > Choisir cette réponse </button>
        </mat-dialog-actions>
      </div>
    </div>

  </div>



</div>
