<div class="container">
<div class="card row">
  <div class="col-lg-12 text-center">
<h2>
  <i class="fab fa-angular"></i>   {{question.label}}
</h2>
  </div>

    <div *ngFor="let answer of question.answers; index as i">
      <div class="row">
        <div class="col-lg-12">
          <p>{{i+1}}</p> - {{answer.value}}      <span *ngIf="answer.isCorrect"> <i class="far fa-check-square"></i></span>
        </div>
      </div>
    </div>
<ng-template [ngIf]="question.clue !== undefined">
  <div class="row">
    <div class="col-lg-12">
      <p>Indice</p> - {{question.clue}}
    </div>
  </div>
</ng-template>

  <ng-template [ngIf]=suppr>
  <button class="button-card" (click)="deleteConfirm()">Supprimer</button>
    <br>
    Voulez-vous vraiment supprimer la question ?
    <button class="button-card" (click)="deleteQuestion(true)">Oui</button>
    <button class="button-card" (click)="deleteQuestion(false)">Non</button>
  </ng-template>

  <ng-template [ngIf]=!suppr>
    <button class="button-card" (click)="deleteConfirm()">Supprimer</button>
  </ng-template>
</div>
</div>
