<div class="container-fluid">
<div class="row">
<div class="card col-lg-12"  [ngStyle]="settings">
  <h1>Réglages</h1>
  <span>
    Taille
  </span>
  <br> <br>
  <button class="smallButton" (click)="changeSize(settingsService.styleSmall)">Petit</button>
  <button class="smallButton" (click)="changeSize(settingsService.styleMedium)">Moyen</button>
  <button class="smallButton" (click)="changeSize(settingsService.styleBig)">Grand</button>
  <br> <br>
  <span>
    Couleur
  </span>
  <br> <br>
  <button class="smallButton" style="background-color: #000000!important; color:#ffffff!important;" (click)="change('#ffffff', '#000000')">
    A
  </button>

  <button class="smallButton" style="background-color: #ffff00!important; color:#000000" (click)="change('#000000', '#ffff00')">A</button>
  <button class="smallButton" style="background-color: #ff0000!important; color:#ffffff!important;" (click)="change('#ffffff', '#ff0000')">
    A
  </button>
  <button class="smallButton" style="background-color: #0000ff!important; color:#ffffff!important;" (click)="change('#ffffff', '#0000ff')">
    A
  </button>
  <button class="smallButton" style="background-color: #ffffff!important; color:#000000" (click)="change('#000000', '#ffffff')">A</button>
  <br> <br>
  Lecture automatique :

  <h1>
    <a href="/select-theme">
      <button class="button-card">Confirmer
      </button>
    </a>
  </h1>
</div>
  </div>
<!--
(click)="confirmer()"
  <link rel="stylesheet" type="text/css" href="settings.component.scss" id="mycss" />

-->
</div>
