@import 'src/styles/card';
@import 'src/styles/buttons';

h1{
    text-align : center;
    font-size: inherit;
    margin-bottom: 1em;
  font-weight: bold;
}

.container-fluid{
  transform: scale(0.8) !important;
  transform-origin: top!important;
}

.sameHeight{
  height: 4em;
}

.smallButton{
  font-weight: bold;
  height: 4em;
}
