<div class="card">
  <h1> <span [ngStyle] = setting>Choix d'un quiz</span></h1>
  <button class="button-card"(click)="getQuizbyDif('facile')" [ngStyle] = setting>facile</button>
  <button class="button-card"(click)="getQuizbyDif('moyen')" [ngStyle] = setting>moyen</button>
  <button class="button-card"(click)="getQuizbyDif('difficile')" [ngStyle] = setting>difficile</button>
  <br>
  <div class="quiz" *ngFor="let quiz of quizList">
    <!--Inputs & Output allow communication between parent & child components.-->
    <!--More information: https://angular.io/guide/component-interaction-->
  <app-quiz [quiz]="quiz" [lecture]="false" (quizSelected)="quizSelected($event)" ></app-quiz>
  </div>


  <button class="button-card"(click)="randomQuiz()" [ngStyle] = setting>Choix aléatoire</button>

</div>
