@import 'src/styles/card';

h1{
  border-style: dot-dash;
  border-color: inherit;
  text-align: center;
  font-size: inherit;
  font-weight: bold;
}
.card{
  display: flex;
}
a{
  display: contents;
}
