  <div class="container-fluid" [ngStyle]="settings">
    <div class="row sticky-top fixed">
      <div class="col-lg-12">
      <div mat-raised-button (click)="open()">
      <h1>{{question.label}}</h1>
    </div>
  </div>

</div>

    <mat-radio-group
      aria-labelledby="example-radio-group-label"
      class="example-radio-group"
      [(ngModel)]="currentAnswer">
  <code *ngFor="let answer of question.answers; index as i">
    <div class="row">
    <ng-template [ngIf]="!mode">
        <div class="col-lg-12 no-side-margin button-card text-center answer{{i}}" (click)="radioChange(answer)">
          <div class="row">
            <div class="col-lg-2 answerNumber"><mat-radio-button [value]="answer" [ngClass]="{'white-progress':settings.color==='#ffffff', 'black-progress':settings.color==='#000000', 'radioCircle':true}"><h1>Réponse {{i+1}}</h1></mat-radio-button></div>
            <div class="col-lg-7 no-side-margin text-center bold"><h1> {{answer.value}}</h1></div>
            <div class="col-lg-3 align-self-center" (click)="openAnswer(i)" >
             <h1>Agrandir la réponse</h1>
            </div>
          </div>



        </div>
    </ng-template>






    <ng-template [ngIf]="mode">
      <div class="col-lg-12 no-side-margin button-card align-content-center">
          <div class="row text-center">
            <div class="col-lg-1 answerNumber">{{i+1}}</div>
          <div class="col-lg-10"> {{answer.value}} </div>
          <div class="col-lg-1">
              <code *ngIf="answer.isCorrect">
                <i class="far fa-check-square"></i>
              </code></div>
          </div>

        </div>
      </ng-template>
    <br>
    </div>

    </code>
    </mat-radio-group>

  <code *ngIf="mode">
    <div class="row float-lg-right">
    <code *ngIf="question">

      <button (click)="askNextAnswer()" class="button-card">Suivant</button>
  </code>
  <nav>
  </nav>
    </div>
</code>

    <code *ngIf="!mode">
      <div class="row">
        <ng-template [ngIf]="!fail">
          <h1>Veuillez choisir une réponse et appuyez sur Suivant -></h1>
        </ng-template>
        <ng-template [ngIf]="fail">
          <h1>Vous n'avez pas choisis de réponse, choissisez-en une avant de passer à la suivante.</h1>
        </ng-template>
      </div>
      <div class="row float-lg-right">
        <code *ngIf="question">
          <div class="col-lg-12">
          <button (click)="answerSomething()" class="button-card">Suivant -></button>
          </div>
        </code>
      </div>
    </code>
  </div>

<button (click)="read()">lecture </button>
<button (click)="stop()">stop </button>



