@import 'src/styles/card';
@import '../play-quiz/play-quiz.component';

h1{
  font-weight: bold!important;
  margin: 1em!important;
  text-align: center;
  font-size: inherit!important;
}

div{
  letter-spacing: 3px!important;
}

.far{
  font-size: inherit;
}

.paddingButton{
  padding: 1em!important;
}
.answerNumber {
  border-color: inherit;
  border-radius: 20px;
}

.fixed {
  top:0;
  left:0;
  right:0;
  background-color: inherit;
  z-index: 10;
}

.white-progress .mat-radio-inner-circle {
  background-color: white !important;
}

.black-progress .mat-radio-inner-circle {
  background-color: black !important;
}

.pgtestt .mat-radio-container{
  transform: scale(1.5)!important;
}
