@import 'src/styles/card';
@import '../play-quiz/play-quiz.component';

h1{
  font-weight: bold!important;
  margin: 1em!important;
  text-align: center;
}

div{
  letter-spacing: 3px!important;
}

.far{
  font-size: inherit;
}

.paddingButton{
  padding: 1em!important;
}
.answerNumber {
  border-color: inherit;
  border-radius: 20px;
}

