@import 'src/styles/buttons';
@import 'src/styles/card';

h1, h2{
    text-align : center;
  font-size: inherit;
  font-weight: bold;
  line-height: 2px;
}

.quiz{
  font-weight: bold;
}

.tesst{
  display: flex;
  flex-flow: wrap;
  justify-content: space-around;
}
