<ng-template [ngIf]="!changeSettings">
<div class="container">
  <div class="row">
    <div class="col-lg-12 card">
      <div class="row">
        <div class="col-lg-10 text-center">
      <h2 class="font-weight-bold">Profil de {{userCalled.firstName}} {{userCalled.lastName === null ? '':userCalled.lastName}} </h2>
        </div>
        <div class="col-lg-2">
            <a (click)="delete()" class="btn btn-info btn-lg">
              <i class="fa fa-trash" aria-hidden="true"></i>
            </a>
        </div>
  </div>
      <div class="row">
      <div class="col-lg-12">
        <hr>
      </div>
      </div>

      <div class="row">
        <div class="col-lg-12">
          <ng-template [ngIf]="!hasSettings">
            <h1 class="text-center">Pas encore de préférences</h1>
            <div class="row">
              <div class="col-lg-12">
                <hr>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-12 text-center">
                <button class="button-card" (click)="displaySettings()">Ajouter les préférences</button>
              </div>
            </div>

          </ng-template>
          <ng-template [ngIf]="hasSettings">
            <div class="row">
              <div class="col-lg-12 text-center">
                <h1 class="font-weight-bold">Préférences actuelles</h1>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-1"></div>
              <div class="col-lg-5 d-flex">
                <h1 class="settingsTitle">Couleur: </h1>
              </div>
              <div class="col-lg-4 button-card text-center settingsButton" [ngStyle]="userCalled.settings">
               A             </div>
              <div class="col-lg-2"></div>
            </div>
            <div class="row">
              <div class="col-lg-1"></div>
              <div class="col-lg-5 d-flex">
                <h1 class="settingsTitle">Taille du texte: </h1>
              </div>
              <div class="col-lg-4 button-card text-center settingsButton" [ngStyle]="userCalled.settings">
                Exemple </div>
              <div class="col-lg-2"></div>
            </div>
            <div class="row">
              <div class="col-lg-1"></div>
              <div class="col-lg-5 d-flex">
                <h1 class="settingsTitle">Lecture automatique: </h1>
              </div>
              <div class="col-lg-4 button-card text-center settingsButton" [ngStyle]="userCalled.settings">
                {{userCalled.settings.soundAuto ? 'Activé ' : 'Désactivé'}}            </div>
              <div class="col-lg-2"></div>
            </div>
            <div class="row">
              <div class="col-lg-1"></div>
              <div class="col-lg-5 d-flex">
                <h1 class="settingsTitle">Attente entre chaque quiz: </h1>
              </div>
              <div class="col-lg-4 button-card text-center settingsButton" [ngStyle]="userCalled.settings">
                {{userCalled.settings.timer ? 'Activé ' : 'Désactivé'}}            </div>
              <div class="col-lg-2"></div>
            </div>
            <div class="row">
              <div class="col-lg-12">
                <hr>
              </div>
            </div>
              <div class="row">
                <div class="col-lg-12 text-center">
                  <button class="button-card" (click)="displaySettings()">Modifier les préférences</button>
                </div>

              </div>
          </ng-template>

        </div>
      </div>
  </div>
  </div>
  <div class="row">
    <div class="col-lg-12 text-center no-side-margin">
      <a href="/administration/profiles/">
      <button class="button-card">Retour à la liste des profils</button>
      </a>
    </div>
  </div>
</div>
</ng-template>
  <ng-template [ngIf]="changeSettings">
    <app-settings (updateDone)="settingsDone($event)"></app-settings>
  </ng-template>

