<div class="container-fluid">
  <div class="row">
    <div class="col-lg-6 text-center">
<div class="card">
    <h2>Accéder à la gestion des quizz</h2>
        ID <br>
        <input class="input-custom" type="text">
      <br>
        Mot de Passe <br>
        <input class="input-custom" type="text">
      <br>
      <a href="/administration/home">
          <button  class="button-card">Connexion</button>
      </a>
</div>
</div>
    <div class="col-lg-6 text-center">
  <div class="buttonRow">
    <a href="/home"><button class="button-card"><h1>Retourner à la page précédente</h1></button></a>
  </div>
    </div>
  </div>

</div>
